body{
background-image: url(Images/Apocalipse.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
margin: 0;
padding: 0;
font-family: "Special Elite", sans-serif;
}

.font-special-elite{
font-family: "Special Elite", sans-serif;
}
.font-yatra-one{
font-family: "Yatra One", sans-serif;
}
#gameicon{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
#headdiv{
    background-color: rgba(46, 46, 46, 0.661);
    padding: 1px;
    text-align: center;
    position: relative;
}
#title{
    font-family: "Yatra One", sans-serif;
    text-align: center;
    font-size: 35px;
    margin: 10px;
    font-weight: 900;
    text-shadow: 2px 2px 25px rgb(233, 144, 65);
}

#navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    background-color: rgba(102, 102, 102, 0.698);
    padding: 0;
    margin: 0;
}
#navbar li{
    color: burlywood;
    border-right: 2px solid black;
    font-size: 21px;
    font-weight: 600;
    padding: 15px;
    flex: 1;
    text-align: center;
    position: relative;
}
#navbar a{
    color: burlywood;
    text-decoration: none;
}
#navbar a:hover{
    color: bisque;
    transition: 150ms; 
}
#navbar li:hover{
    background-color: rgba(23, 22, 22, 0.728);
    color: bisque;
    transition: 150ms;
}

#content {
    display: none;
    background-color: rgba(38, 38, 38, 0.691);
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 150px;
    z-index: 10;
    border: 2px solid black;
    box-shadow: 3px 3px 15px rgb(100, 8, 8);
}
#dropdown:hover #content{
    display: block;
}
#content a{
    display: block;
    border-bottom: 2px solid black;
    padding: 15px 20px;
    text-align: left;
}
#content a:last-child{
    border-bottom: none;
}
#content a:hover{
    background-color: rgba(46, 45, 45, 0.706);
}
#par1{
    padding-top: 2em;
    color: azure;
    font-size: 25px;
    text-align: center;
}
#maindiv{
    display: flow-root;
    background-color: rgba(37, 36, 36, 0.62);
}
#yt{
    float: left;
    margin: 15px;
    border: 2px solid rgb(81, 9, 9);
}
#line{
    margin: 0;
border: 3px solid rgb(177, 175, 175);
}
#maindiv2{
    background-color: rgba(37, 36, 36, 0.62); 
    color: azure;
    font-size: 25px;
    text-align: center; 
    padding: 15px; 
}
#line2{
    margin: 0;
border: 3px solid rgb(177, 175, 175);
}
#maindiv3{
    background-color: rgba(37, 36, 36, 0.62); 
    color: azure;
    font-size: 25px;
    text-align: center; 
    padding: 15px; 
}
#play{
    border: 1px solid sandybrown;
    border-radius: 30px;
    font-size: 20px;
    background-color: burlywood;
    color: rgb(91, 16, 16);
    width: 300px; 
    height: 50px;  
    font-family: "Yatra One", sans-serif; 
    display: block;
    margin: 20px auto;
}
#play:hover{
    background-color: rgb(189, 134, 61);
    font-weight: 900;
    font-size: 20px;
    color: black;
    transition: 200ms;
    cursor: pointer;
}
#head4{
    font-family: "Yatra One", sans-serif;
}
#head5{
    font-family: "Yatra One", sans-serif;
}
.gallery img{
    width: 500px;
    height: 300px;
}
.gallery{
    align-items: center;
    margin-left: 50px;
    margin-bottom: 50px ;
    display: inline-block;
    width: auto;
    border: 3px solid rgb(110, 24, 24);
}
.gallery .description{
    border-top: 3px solid rgb(110, 24, 24);
    background-color: rgba(75, 72, 72, 0.595);
    color: wheat;
    padding: 10px;
    font-weight: 600;
    font-size: 25px;
}
#footer{
    background-color: rgba(46, 46, 46, 0.9);
    color: azure;
    text-align: center;
    padding: 20px;
    border-top: 2px solid rgb(110, 24, 24);
}
#footer p {
    margin: 2px;
    font-size: 18px;
}


#footer a{
    color: burlywood;
    text-decoration: none;
    margin: 0 15px;
}

#footer a:hover {
    color: bisque;
    transition: color 150ms;
}
